/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --cover-image: url("../images/cover-image-light.png");
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #ffc2e6;
  --text-color: #353430;
  --menu-color: #353430;
  --menu-hover-color: rgba(50, 49, 45, 0.4);
  --text-accent-color: #353430;
  --link-shadow: #ff8dcb;
  --link-focus-color: #353430;
  --section-title-color: #353430;
}

.theme-light .header__rec {
  display: none;
}
