/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #db00ff;
  --text-color: #f1b2ce;
  --menu-color: #ff0070;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --text-accent-color: #000028;
  --link-shadow: #ff0070;
  --link-focus-color: #f1b2ce;
  --section-title-color: #ff0070;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --padding-desktop: 20px;
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 50px;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url("../images/cover-image-light.png");
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #ffc2e6;
    --text-color: #353430;
    --menu-color: #353430;
    --menu-hover-color: rgba(50, 49, 45, 0.4);
    --text-accent-color: #353430;
    --link-shadow: #ff8dcb;
    --link-focus-color: #353430;
    --section-title-color: #353430;
  }

  .theme-auto .header__rec {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --cover-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --accent-color: #ff0070;
    --decor-color: #ff0070;
    --title-color: #db00ff;
    --text-color: #f1b2ce;
    --menu-color: #ff0070;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
    --text-accent-color: #000028;
    --link-shadow: #ff0070;
    --link-focus-color: #f1b2ce;
    --section-title-color: #ff0070;
  }
}
